{% extends "layout.html" %}




    
    {% block body %}
    <br>
    
    <h1>Hakkımda </h1>
    <hr>
    <p>Bilgisayar öğretmeni geçmişine sahip bir bilgisayar mühendisi olarak, yapay zeka alanındaki yeniliklerden, özellikle Doğal Dil İşleme (NLP) ve Büyük Dil Modelleri (LLM) alanında çalışmaktan büyük heyecan duyuyorum.
    Python programlama diliyle makine öğrenimi, derin öğrenme ve doğal dil işleme projelerinde aktif olarak çalıştım. Global AI Hub ve TechPro Education'dan aldığım sertifikalar sayesinde, ileri analitik becerilerimi geliştirmekteyim.
   </p>
   <p>
    Bilgisayar Mühendisliğinde Data science alanında çalışmaya devam ederken Öğretmenlik hayatıma kodland ile devam etmek istiyorum. Öğretmeyi seviyorum. Çünki meslek hayatımın çoğu öğretmenlik ile geçti. Hayatımın ayrılmaz bir parçası olduğunu düşünüyorum.
   </p>
   
    {% endblock %}

