{% extends "layout.html" %}

    {% block body %}
    <div>
        <br>
        
    <h3>  Kodland platformu</h3>
    <hr>
   
Online coding for kids at Kodland is a place where you can find learning materials, interactive tasks, academic performance analysis, lessons, and their recordings.

Monitors task performance in real time during coding classes for kids, prompts, and motivates students students
Brings students together in a community where they share ideas and discuss innovative projects
Our platform for programming for kids works directly from the browser — no need to install anything
Tracks the student's progress during coding courses for kids and analyses it
    </div>
    
   
    {% endblock %}


